# Enunciado
enunciado.pdf

# Binarios
/exacto
/golosa
/local
/tabu
/tests
/experimentos
/perf

# Código objeto
*.o

# Sublime Text
*.sublime-project
*.sublime-workspace

# LaTeX
informe.pdf
tex/*.pdf
tex/*.aux
tex/*.toc
tex/*.log

# Eclipse
.cproject
.project
.settings

# Casos de prueba
testing

# Miscelánea
octave-core